
{% extends "base.html.twig" %}

{% block body %}

<h1>
 
   {% if editMode %}
        Modification de l'employer
  {% else %}
      Création d'un employer
   {% endif %}
 
</h1>


{{form_start(form,{
    attr: {
        novalidate: 'novalidate'
    }
})}}



{{form_row(form.prenom)}}

{{form_row(form.nom)}}

{{form_row(form.telephone)}}

{{form_row(form.email)}}

{{form_row(form.address)}}

{{form_row(form.poste)}}

{{form_row(form.salaire)}}
 
{{form_row(form.datedenaissance)}}

<button type="submit" class ="btn btn-primary mt-2"> 

{% if editMode %}
  Enregistrer les modifications
  {% else %}
  Ajouter l'employer
{% endif %}
</button>

{{form_end(form)}}

{% endblock %}